{% extends 'index.html' %}

{% block content %}

<section style="width:100%; float:left; height:100vh; position: relative">
    <div style="position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); color:black; ">
    <h1>This is Paggie Chen's project.</h1></br></br>
    <h4>407402382 陳姵淇</h4></br></br>
    <p>以WHO的開放資料為來源，抓取線上資料以分析Covid-19的疫苗接種數量之地區分佈、施打劑量的國家排名和相對應施打的疫苗種類數量，以及各國完全接種疫苗的累計人數排名。</p>
    <p>本網站以Django作為網頁架站工具，利用python語言撰寫分析程式，輔以ploty, matplotlib, seaborn等python圖像庫。</p>
    <p>資料分析的程式碼詳參：<a href="https://deepnote.com/@-1dd4/-zUykMmm9Q8OTxgKNik5jJA">Paggie's homework<a></p>
    </div>
</section>



{% endblock content %}
